services:
    - Efabrica\NeoForms\Render\NeoFormNetteRenderer()
    - Efabrica\NeoForms\Build\NeoFormFactory()

    nette.latteFactory:
        setup:
            - addProvider('neoFormRenderer', Efabrica\NeoForms\Render\NeoFormRenderer(@self))
            - Efabrica\NeoForms\NeoFormExtension::install(@self::getCompiler())
            - @Efabrica\NeoForms\Render\NeoFormNetteRenderer::init(@self)
