services:
    - Efabrica\NeoForms\NeoFormNetteRenderer()
    - Efabrica\NeoForms\NeoFormFactory()

    nette.latteFactory:
        setup:
            - addProvider('neoFormRenderer', Efabrica\NeoForms\NeoFormRenderer(@self))
            - Efabrica\NeoForms\NeoFormExtension::install(@self::getCompiler())
